.container{
	width: 90%;
	margin: 0 auto;
	float: none;
}
.panel{
	border: 1px solid #3a87ad;
	border-radius: 2%;
	
	margin: 0px 10px;
	display: block;
}
.panel-header{
	background: #3a87ad;
	color: #fff;
	padding: 5px 10px ;
}
.panel-body{
	padding: 5px 10px ;
	
}
.input{
	display: block;
}
.input label{
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.form-control{
	display: inline-block;
	width: 100%;
	padding: 2px 5px;
	border:1px solid #ccc;
	margin-bottom: 5px;
}
.blue{
	background: #3a87ad;
	color: #fff;
}